@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply border px-5 md:px-10 py-2.5 rounded font-semibold transition duration-200 ease-out;
    }
}

@media (max-width: 600px) {
    .header-box{
        display: none;
    }
    .bars{
        display: block;
    }
}

.category-image{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
